2018/JATS-Con/xspec-jats.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <namespace ns="http://www.jenitennison.com/xslt/xspec">
        <validate schema="https://raw.githubusercontent.com/xspec/xspec/master/src/schemas/xspec.rnc" schemaType="application/relax-ng-compact-syntax"/>
    </namespace>
    <anyNamespace>
        <validate schema="https://jats.nlm.nih.gov/archiving/1.1/xsd/JATS-archivearticle1-mathml3.xsd"/>
    </anyNamespace>
</rules>